* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
header{
  position: sticky;
  top: 0;
  z-index: 20;
  height: max-content;
}
.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100vw;
  height: fit-content;
  color: var(--light-white);
  background-color: var(--light-dark);
  justify-content: space-evenly;
}

.nav-logo-contenedor {
  padding: 1rem 0;
  cursor: default;
  width: fit-content;
}

.nav-logo {
  font-weight: 700;
  margin: 0.5rem 0rem;
  font-size: 2rem;
  color: var(--light-white);
}

.navbar input {
  height: 2rem;
  font-weight: 400;
  background-color: rgb(124, 124, 124);
  padding: 0 .5rem 0 1rem;
  min-width: fit-content;
  width: 5%;
  transition: width 1s ease, background-color 1.5s ease-in;
  border-radius: 15px;
  filter: opacity(0.5);
}
.navbar input:focus {
  background-color: var(--light-white);
  outline: none;
  width: 30%;
  filter: opacity(.8);
}

.navbar ul {
  width: 30%;
  list-style: none;
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: center;
  /* align-items: baseline; */
  text-align: left;
  gap: 1em;
}
.navbar ul li {
  transition: transform 0.05s ease-in;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--light-white);
  transition: transform 0.1s ease-in;
  font-weight: 900;
  font-variant-caps: titling-caps;
  font-size: 1.5rem;
}
.navbar ul li:hover {
  transform: scale(1.1);
}

::placeholder {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-dark);
  text-align: center;
}
