* {
  box-sizing: border-box;
}
:root {
  --text-color: #fff;
}
main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url("../assets/img/fondo.jpg");
  background-size: 100%;
  color: var(--light-white);
}

.seccion-categorias {
  width: 100vw;
  height: max-content;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 89px 35px var(--light-dark);
  -webkit-box-shadow: 0px 0px 89px 35px var(--light-dark);
  -moz-box-shadow: 0px 0px 89px 35px var(--light-dark);
}
.seccion-categorias ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: var(--light-dark);
}
.seccion-categorias ul li {
  text-align: center;
  height: 3rem;
  filter: opacity(0.5);
}
.seccion-categorias ul li:hover {
  transition: background-color 1s ease, filter 1s ease-in;
  background-color: white;
  box-shadow: inset 0px 22px 57px 30px black;
  filter: opacity(1);
}
.seccion-categorias ul li a {
  position: relative;
  text-decoration: none;
  top: 25%;
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--light-white);
}
.seccion-productos {
  margin: 0 1rem;
  align-self: center;
  width: 80%;
  min-height: 100vh;
  display: grid;
  background: linear-gradient(
    270deg,
    rgba(235, 245, 255, 0) 2%,
    rgba(0, 0, 0, 1) 19%,
    rgba(0, 0, 0, 1) 77%,
    rgba(0, 0, 0, 0) 97%
  );
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.contenedor-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}
.contenedor-productos h3 {
  background-color: var(--light-dark);
  width: 80%;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0.75rem;
}
.contenedor-productos h4 {
  background-color: var(--light-dark);
  font-size: 1rem;
  padding-top: 0.5rem;
  height: 2rem;
  width: 80%;
}
.imagen-producto {
  width: 80%;
  min-height: 200px;
  max-height: 400px;
  filter: drop-shadow(0 -6px 20px rgba(255, 255, 255, 0.527)) brightness(0.9);
}

.activo {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(1.8);
  z-index: 1000;
}
section {
  background: #000e;
  border-radius: 20px;
  height: 80%;
  width: 100%;
}

.home {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.home-text h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
.home-text h5 {
  color: #ffffff99;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}
.home-text h4 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  color: var(--text-color);
  transition: all 0.55s ease;
}

.btn:hover {
  background: var(--text-color);
  color: #000;
}
.home-img {
  display: flex;
}

.home-img img {
  max-width: 100%;
  border-radius: 5%;
}

.main {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
li {
  list-style: none;
}
.row {
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.55s ease;
}

.row:hover {
  transform: translateY(-8px);
}

.row img {
  max-width: 100%;
  border-radius: 20%;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
