:root {
  --light-white: rgb(245, 245, 245);
  --white: white;
  --light-dark: rgb(17, 17, 17);
  --dark: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
