* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
:root{
  --light-white: rgb(245, 245, 245);
  --white: white;
  --light-dark: rgb(17, 17, 17);
  --dark: black;
}
main {
  display: grid;
  gap: 1rem;
  background: #ccc;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.contenedor-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.imagen-producto {
  min-height: 200px;
  max-height: 400px;
}
